[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
imblearn = "*"
pytz = "*"
pandas = "*"
jupyter = "*"
matplotlib = "*"
tensorflow = "~=2.2.2"
ipykernel = "*"
keras = "*"

[requires]
python_version = "3.8"
